<nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left uk-width-xlarge " style="margin: 0 auto;">

            <ul class="uk-navbar-nav uk-width-xxlarge" style="margin: 0 auto;" >
                <li class="uk-active"><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/energy">Energy</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/energy/add_entry">Add new entry</a></li>
                            <li><a href="/energy/edit_entry">Edit entry</a></li>
                        </ul>
                    </div>
                </li> -->
                <!-- test -->
            </ul>
        </div>
    </nav>
