{% extends 'layout.html' %}

{% block body %}
    {% if realities %}
        <div class="uk-child-width-1-3@s uk-child-width-1-2" uk-grid>
            {% for reality in realities %}
                {% include 'includes/_reality.html' %}
            {% endfor %}
        </div>
    {% endif %}
    {% if expired_realities %}
        <h1>Expired realities</h1>
        <div class="uk-child-width-1-3@s uk-child-width-1-2 uk-secondary" uk-grid>
            {% for reality in expired_realities %}
                {% include 'includes/_reality.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
