{% extends 'layout.html' %}

{% block body %}
<div class="uk-button" id="toggle_all_histories">Show/hide histories</div>
## TODO: favourite ads
## TODO: javascript interraction, hide, manually expire ..
    {% if realities %}
    <div class="uk-child-width-1-3@s uk-child-width-1-2" uk-grid>
        {% for reality in realities %}

            <div class="uk-card uk-card-small uk-grid-collapse uk-margin flag-{{ reality.flags|lower }}" uk-grid>
                <div class="uk-card-media-top uk-cover-container">
                    {% if reality.image %}
                        <img src="{{ reality.image }}" alt="" uk-cover>
                        <canvas width="320" height="180"></canvas>
                    {% else %}
                        <img src="https://via.placeholder.com/600x400" alt="" uk-cover>
                        <canvas width="320" height="180"></canvas>
                    {% endif %}
                </div>
                <div>
                    <div class="uk-card-header uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right">
                        <h5 class="uk-card-title" style="font-size:14pt;">
                            <a href="{{ reality.url }}" target="_blank">{{ reality.title }}</a>
                        </h5>
                        <span class="toggles">
                            <a class="reality_action state-{{ reality.is_hidden }}" data-action="hide" data-reality-id="{{ reality.id }}" data-current-state="{{ reality.is_hidden }}" href="#"  uk-icon="icon: eye-slash"></a>
                            <a class="reality_action state-{{ reality.is_favourite }}" data-action="favourite" data-reality-id="{{ reality.id }}" data-current-state="{{ reality.is_favourite }}" href="#"  uk-icon="icon: heart"></a>
                            <a class="reality_action" data-action="expire" data-reality-id="{{ reality.id }}" data-current-state="{{ reality.is_delete }}" href="#"  uk-icon="icon: heart"></a>
                        </span>
                    </div>
                    <div class="uk-card-body uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right">
                        <div uk-grid>
                            <div><strong>{{ "{:,}".format(reality.price) }} Kč</strong></div>
                            <div>{{ reality.date }}</div>
                        </div>

                        <div class="uk-card-badge uk-label">{{reality.viewed_count}}</div>
                        {% if reality.history|length<2 %}
                        <div class="uk-card-badge uk-label">New</div>
                        {% endif %}

                        <p>
                            {{reality.description}}...
                        </p>
                    </div>
                    <div class="uk-card-footer uk-padding-remove-left uk-padding-remove-right">
                        <strong>History</strong>
                        <br>
                        <div class="history">
                            {% if reality.history %}
                            <ul class="uk-list" style="font-size:10pt;">
                                {% for history in reality.history %}
                                    <li>{{history.update_datetime}}: {{"{:,} Kč".format(history.price)}}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>no history</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    {% endif %}
{% endblock %}
